/* Container */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

.login-container h1 {
  text-align: center;
  color: #4d4949;
  margin-bottom: 7dvh;
}

/* Error messages */
.login-container p {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}

.login-container p.error {
  color: red;
}

.login-container p.success {
  color: green;
}

/* Input fields and labels */
.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  margin-bottom: 1dvh;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.login-container button {
  border-radius: 5px;
}

/* Responsive design */
@media (max-width: 480px) {
  .login-container {
    padding: 15px;
    width: 90%;
  }
}

/* Remove background, text color changes, and box-shadow from autofill */
input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px white inset !important; /* Set it to the field's normal background color */
  -webkit-text-fill-color: inherit !important; /* Ensures the text color matches the rest */
  transition: background-color 5000s ease-in-out 0s; /* Prevents flash of color */
}

/* Ensure autocomplete behaves consistently in other browsers (non-webkit) */
input:-moz-autofill {
  background-color: transparent !important;
  color: inherit !important;
}